<h1>New Show</h1>
<%= form_with model: @show, url: movie_shows_path(@movie), local: true do |f| %>
  <%= f.label :movie_id %>
  <%= f.collection_select :movie_id, Movie.all, :id, :title %>

  <%= f.label :date %>
  <%= f.date_select :date %>

  <%= f.label :time %>
  <%= f.time_select :time %>

  <%= f.label :available_seats %>
  <%= f.number_field :available_seats %>

  <%= f.label :ticket_price %>
  <%= f.number_field :ticket_price %>

  <%= f.submit "Create Show" %>
<% end %>
